:root {
  --main-dark-color: #316A2F;
  --medium-small-desktop-font: 20px;
}

#cert-container{
  position: relative;
  width: 100%;
  overflow: hidden;

  .slideshow-nav-btn {
    position: absolute;
    top: 0;
    height: 100%;
    width: 16.6667%;
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    padding: 1vw;
    z-index: 2;

    .slideshow-nav-icon {
      background: rgba(0, 0, 0, 0.4);
      border-radius: 99vw;
      padding: 1vw;
      display: flex;
      align-items: center;
      justify-content: center;

      img{
        height: 1vw;
        width: 1vw;
        filter: invert(100%);
      }
    }

    &.prev {
      left: 0;
      justify-content: flex-start;
    }

    &.next {
      right: 0;
      justify-content: flex-end;
    }
  }

  @media (max-width: 1000px){
    .slideshow-nav-btn { opacity: 0; }
  }

  #cert-viewport{
    width: 100%;
    overflow: hidden;

    #cert-track{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      transition: transform 500ms ease;

      .cert-slide{
        flex: 0 0 calc(100% / 4);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 2vw;
        box-sizing: border-box;

        .img-wrapper{
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 5vw;

          img{
            height: auto;
            width: 30vw;
            transform: rotate(-5deg);
          }
        }

        p{
          color: var(--main-dark-color);
          font-family: 'Playfair Display', serif;
          font-size: var(--small-desktop-font);
          font-weight: 500;
          text-align: center;
          width: 25vw;
        }
      }
    }
  }

  @media (max-width: 1000px){
    #cert-viewport{
      #cert-track{
        flex-direction: column;

        .cert-slide{
          flex: 1;
          flex-direction: column;

          .img-wrapper{
            img{
              height: 30vh;
              width: 100%;
              transform: rotate(-2deg);
            }
          }

          p{
            font-size: calc(var(--small-desktop-font) - 5px);
            width: 100%;
          }
        }
      }
    }
  }
}