@media (max-width: 1000px) {
    body{
        #portfolioContainer{
            /* Header */
            header{
                padding: 4vw;

                #topHeader{ font-size: calc(var(--small-desktop-font) - 5px); }

                .mainWrapper{
                    #mainHeader{
                        h1{ font-size: calc(var(--title-desktop-font) - 40px); }
                        h2{ font-size: calc(var(--small-desktop-font) - 4px); }
                    }

                    #contactPills{
                        .pillWrapper {
                            .socialHint > .textHint{ font-size: calc(var(--small-desktop-font) - 5px);} 
                            button{
                                padding: 2vw;
                                border-radius: 2vw;
                                width: var(--pill-width);
                                font-size: calc(var(--medium-small-desktop-font) - 10px); 
                            }
                        }
                    }

                    #contactPills > .pillWrapper:nth-child(2){
                        .textHint { display: none; }
                    }
                }
            }
            
            /* Navigation */
            nav{
                font-size: calc(var(--small-header-desktop-font) - 5px) !important;
                > #menuLinks { display: none; }
                .menuToggle { display: block; }
                .mobileMenu{ #mobileMenuLinks{ gap: 2vh; }}
            }

            /* About Section */
            #aboutSection{
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 5vw;
                padding: 4vw;

                #imgWrapper{
                    position: relative;
                    justify-content: center;

                    img{ width: 30vw; }             
                }

                #aboutWrapper{
                    #profileContainer{
                        margin: 5vw 0;
                    
                        h3{ font-size: calc(var(--large-header-desktop-font) - 10px); }
                        
                        p{
                            font-size: calc(var(--medium-small-desktop-font) - 8px);
                            line-height: calc(var(--line-height) - 5px);
                        }

                        button{ 
                            padding: 2vw;
                            border-radius: 2vw;
                            width: var(--pill-width);
                            font-size: calc(var(--medium-small-desktop-font) - 5px); 
                        }
                    }

                    #stackContainer{
                        margin: 5vw 0;
                        gap: 2vw;

                        h3{ font-size: calc(var(--large-header-desktop-font) - 10px); }

                        #listContainer{
                            .lists{ h4{ font-size: calc(var(--small-header-desktop-font) - 5px); }}
                            .pillContainer{ span{ font-size: calc(var(--small-desktop-font) - 2px); }}
                        }
                    }
                }
            }

            /* Project Section */
            #projectsSection{
                h3{ font-size: calc(var(--large-header-desktop-font) - 10px); }
                
                #projectList{
                    .projectCards{
                        display: flex;
                        flex-direction: column;
                        
                        .projectDisplay{
                            min-width: 100%;

                            .slideshow{
                                .slideshowFrame{
                                    .slideshowCaption {
                                        p { font-size: calc(var(--small-desktop-font) - 5px); }
                                    }

                                    .slideshowNavBtn {
                                        .slideshowNavIcon {
                                            padding: 2vw;

                                            img{
                                                height: 2vw;
                                                width: 2vw;
                                                filter: invert(100%);
                                            }
                                        }
                                    }
                                }

                                .slideshowControls {
                                    .slideshowPlayBtn {
                                        gap: 1vw;
                                        font-size: calc(var(--small-desktop-font) - 3px);

                                        img{
                                            height: 3vw;
                                            width: 3vw;
                                        }
                                    }

                                    .slideshowCounter { font-size: calc(var(--small-desktop-font) - 3px); }
                                }
                            }

                            .projectId{
                                .projectNum, .projectCategory{ font-size: calc(var(--small-desktop-font) - 5px); }
                                h4{ font-size: calc(var(--small-header-desktop-font) - 10px); }
                                .projectLink{ font-size: calc(var(--small-desktop-font) - 5px); }
                            }
                        }

                        .projectDescription{
                            .pillContainer{span{font-size: calc(var(--small-desktop-font) - 5px);}}
                            .listContainer{font-size: calc(var(--small-desktop-font) - 5px);} 
                        }
                    }
                }
            }

            /* Certificate Section */
            #certificationsSection{ 
                h3{ font-size: calc(var(--large-header-desktop-font) - 10px); }

                .slideshowNavBtn { 
                    opacity: 0; 
                    pointer-events: none;
                }

                #certViewport{
                    #certTrack{
                        flex-direction: column;
                        gap: 5vw;

                        .certSlide{
                            flex: 1;

                            .imgWrapper{
                                img{
                                    width: 60%;
                                }
                            }

                            p{
                                font-size: calc(var(--small-desktop-font) - 2px);
                                width: 100%;
                            }
                        }
                    }
                }
            }

            /* Footer */
            footer{
                padding: 4vw;

                #emailContainer {  
                    h3{ font-size: calc(var(--large-header-desktop-font) - 10px); }

                    form{
                        display: flex;
                        flex-direction: column;
                        gap: 4vw;

                        input, select, textarea{
                            border-width: 2px;
                            font-size: calc(var(--small-desktop-font) - 5px);
                            width: 100%;
                        }

                        button{
                            font-size: calc(var(--small-desktop-font) - 5px);
                            border-radius: 2vw;
                            margin: 2vh 0;
                            width: var(--pill-width);
                            padding: 2vw;
                        }
                    }

                    #contactContainers { 
                        gap: 3vw;

                        a{                 
                            img{
                                height: 4vw;
                                width: 4vw;
                            }
                        }
                    }
                }
            }
        }
    }
}