@media (max-width: 1000px) {
    body{
        #portfolio-container{
            /* Header */
            header{
                padding: 4vw;

                #top-header{ font-size: calc(var(--small-desktop-font) - 5px); }

                .main-wrapper{
                    #main-header{
                        h1{ font-size: calc(var(--title-desktop-font) - 40px); }
                        h2{ font-size: calc(var(--small-desktop-font) - 4px); }
                    }

                    #contact-pills{
                        .pill-wrapper > .social-hint > .hint-text{ font-size: calc(var(--small-desktop-font) - 5px); }
                        .pill{
                            width: calc(var(--pill-width) - 30px);
                            font-size: calc(var(--small-desktop-font) - 5px);
                            img{ width: 15px; }
                        }
                    }
                }
            }
            
            /* Navigation */
            nav{
                font-size: calc(var(--small-header-desktop-font) - 5px) !important;
                > ul { display: none; }
                .menu-toggle { display: flex; }
                .mobile-menu{ ul{ gap: 2vh; }}
            }

            /* About Section */
            #about-section{
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 5vw;
                padding: 4vw;

                #about-img-wrapper{
                    position: relative;
                    justify-content: center;

                    img{ width: 40vw; }             
                }

                #about-details-wrapper{
                    #profile-section{
                        margin-bottom: 5vw;
                    
                        h3{ font-size: calc(var(--large-header-desktop-font) - 10px); }
                        
                        p{
                            font-size: calc(var(--medium-small-desktop-font) - 10px);
                            line-height: calc(var(--line-height) - 10px);
                        }

                        a{ 
                            padding: 2vw;
                            border-radius: 2vw;
                            width: var(--pill-width);
                            font-size: calc(var(--medium-small-desktop-font) - 10px); 

                            img{ width: 15px; }
                        }
                    }

                    #stack-section{
                        gap: 4vw;

                        h3{ font-size: calc(var(--large-header-desktop-font) - 10px); }

                        .list-container{
                            p{ font-size: calc(var(--small-header-desktop-font) - 8px); }
                            .pill-container{ span{ font-size: calc(var(--small-desktop-font) - 4px); }}
                        }
                    }
                }
            }

            /* Project Section */
            #projects-section{
                padding: 4vw;
                h3{ font-size: calc(var(--large-header-desktop-font) - 10px); }
                
                #project-list{
                    .project-cards{
                        display: flex;
                        flex-direction: column;
                        border: none;
                        background-color: transparent;
                        
                        .project-display{
                            min-width: 100%;

                            .slideshow{
                                .slideshow-frame{
                                    .slideshow-caption {
                                        p { font-size: calc(var(--small-desktop-font) - 5px); }
                                    }

                                    .slideshow-nav-btn {
                                        .slideshow-nav-icon {
                                            padding: 2vw;

                                            img{
                                                height: 2vw;
                                                width: 2vw;
                                                filter: invert(100%);
                                            }
                                        }
                                    }
                                }

                                .slideshow-controls {
                                    .slideshow-play-btn {
                                        gap: 1vw;
                                        font-size: calc(var(--small-desktop-font) - 3px);

                                        img{
                                            height: 3vw;
                                            width: 3vw;
                                        }
                                    }

                                    .slideshow-counter { font-size: calc(var(--small-desktop-font) - 3px); }
                                }
                            }

                            .project-id{
                                .project-num, .project-category{ font-size: calc(var(--small-desktop-font) - 5px); }
                                h4{ font-size: calc(var(--small-header-desktop-font) - 10px); }
                                .project-link{ font-size: calc(var(--small-desktop-font) - 5px); }
                            }
                        }

                        .project-description{ font-size: calc(var(--small-desktop-font) - 5px); }
                    }
                }
            }

            /* Certificate Section */
            #certifications-section{ 
                h3{ font-size: calc(var(--large-header-desktop-font) - 10px); }

                .slideshow-nav-btn { 
                    opacity: 0; 
                    pointer-events: none;
                }

                #cert-viewport{
                    #cert-track{
                        flex-direction: column;
                        gap: 5vw;

                        .cert-slide{
                            flex: 1;
                            flex-direction: column;

                            .img-wrapper{
                                img{
                                height: 30vh;
                                width: 100%;
                                transform: rotate(-2deg);
                                }
                            }

                            p{
                                font-size: calc(var(--small-desktop-font) - 5px);
                                width: 100%;
                        }
                        }
                    }
                }
            }

            /* Footer */
            footer{
                padding: 4vw;

                #email-container {  
                    h3{ font-size: calc(var(--large-header-desktop-font) - 10px); }

                    form{
                        display: flex;
                        flex-direction: column;
                        gap: 4vw;

                        input, select, textarea{
                            border-width: 2px;
                            font-size: calc(var(--small-desktop-font) - 5px);
                            width: 100%;
                        }

                        button{
                            font-size: calc(var(--small-desktop-font) - 5px);
                            border-radius: 2vw;
                            margin: 2vh 0;
                            width: var(--pill-width);
                            padding: 2vw;

                            img { width: 15px; }
                        }
                    }

                    #contact-containers { 
                        gap: 3vw;

                        a{                 
                            img{
                                height: 4vw;
                                width: 4vw;
                            }
                        }
                    }
                }
            }
        }
    }
}